<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Stock Price Prediction using Monte Carlo Methods</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">About Stock Price Prediction using Monte Carlo Methods</h1>
        
        <p>This website allows you to predict future stock prices using Monte Carlo simulation methods.</p>
        
        <h2>How to Use</h2>
        <p>To use this website, enter a valid stock ticker symbol and the number of days you want to predict into the form on the homepage. Click the "Simulate" button, and the website will generate a prediction plot and display relevant stock data.</p>
        
        <h2>What is Monte Carlo Simulation?</h2>
        <p>Monte Carlo simulation is a computational technique used to approximate the probability of certain outcomes by running multiple simulations with random variables. In the context of stock price prediction, Monte Carlo simulation can be used to generate possible future price scenarios based on historical data and statistical models.</p>
        
        <h2>About Us</h2>
        <p>This website was originally created by Ryan Nie.</p>
    </div>
</body>
</html>
