
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistical Arbitrage Trading</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"></head>
    <style>p {font-size: 18px;}</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">QI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('statarb') }}">Stat Arb</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('machinelearning') }}">ML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('montecarlo') }}">Monte Carlo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container" style="padding-right:3%;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <br>
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            </ul>
        {% endif %}
        
        {% endwith %}
    </div>
    
    <div class="container">
        <h1 class="mt-4">Statistical Arbitrage Trading</h1>
        <form action="/statresults" method="post" class="mt-4">
            <div class="form-group">
                <label for="equity1">Equity 1:</label>
                <input type="text" id="equity1" name="equity1" value="{{ results.equity1 | default('KO') }}" class="form-control" required>
                <p class="constraint-description">This is the first equity symbol. Example: KO, V, AUDUSD=X.</p><br>
            </div>
            <div class="form-group">
                <label for="equity2">Equity 2:</label>
                <input type="text" id="equity2" name="equity2" value="{{ results.equity2 | default('PEP') }}" class="form-control" required>
                <p class="constraint-description">This is the second equity symbol. Example: PEP, M, NZDUSD=X.</p><br>
            </div>
            <div class="form-group">
                <label for="timeframe">Timeframe:</label>
                <select id="timeframe" name="timeframe" class="form-control" onchange="tftoperiod()" required>
                    <option value="1h" {% if results.timeframe == '1h' %} selected {% endif %}>1 Hour</option>
                    <option value="1d" {% if results.timeframe == '1d' %} selected {% endif %}>1 Day</option>
                    <option value="1wk" {% if results.timeframe == '1wk' %} selected {% endif %}>1 Week</option>
                </select>
                <p class="constraint-description">This is the granularity of historical data retrieved.</p><br>
            </div>
            <div class="form-group">
                <label for="period">Period:</label>
                <select id="period" name="period" class="form-control" required>
                    <option value="1d" {% if results.period == '1d' %} selected {% endif %}>1 Day</option>
                    <option value="5d" {% if results.period == '5d' %} selected {% endif %}>5 Days</option>
                    <option value="1mo" {% if results.period == '1mo' %} selected {% endif %}>1 Month</option>
                    <option value="3mo" {% if results.period == '3mo' %} selected {% endif %}>3 Months</option>
                    <option value="6mo" {% if results.period == '6mo' %} selected {% endif %}>6 Months</option>
                    <option value="1y" {% if results.period == '1y' %} selected {% else %} selected {% endif %}>1 Year</option>
                    <option value="2y" {% if results.period == '2y' %} selected {% endif %}>2 Years</option>
                    <option value="5y" {% if results.period == '5y' %} selected {% endif %}>5 Years</option>
                    <option value="10y" {% if results.period == '10y' %} selected {% endif %}>10 Years</option>
                    <option value="ytd" {% if results.period == 'ytd' %} selected {% endif %}>YTD</option>
                    <option value="max" {% if results.period == 'max' %} selected {% endif %}>Max</option>
                </select>
                <p class="constraint-description">How far back to fetch data.</p><br>
            </div>
            <div class="form-group">
                <label for="window_size">Rolling Average Window Size:</label>
                <input type="number" id="window_size" name="window_size" min="1" value="{{ results.window_size | default('100') }}" class="form-control" required>
                <p class="constraint-description">This is used to smooth out and normalize the spread.</p><br>
            </div>
            <div class="form-group">
                <label for="multiplier">Standard Deviation Band Multiplier:</label>
                <input type="number" id="multiplier" name="multiplier" min="0" step="0.01" value="{{ results.multiplier | default('1.75') }}" class="form-control" required>
                <p class="constraint-description">By using a dynamic threshold, we can account for varying volatility. This changes how far the threshold is.</p><br>
            </div>
            <div class="form-group">
                <label for="std_mult">Standard Deviation Moving Average Multiplier:</label>
                <input type="number" id="std_mult" name="std_mult" min="0" step="1" value="{{ results.std_mult | default('3') }}" class="form-control" required>
                <p class="constraint-description">This is used to smooth out the standard deviation further.</p><br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p class="mt-4">In this trading strategy, known as statistical arbitrage, statistical models are leveraged to identify and exploit pricing disparities between two equities, which are referred to as Equity 1 and Equity 2. By analyzing historical price data and applying statistical techniques such as mean reversion or cointegration analysis, the strategy aims to identify pairs of equities that exhibit a stable relationship over time.</p><br>
            
        <p class="mt-4">Once you've identified a suitable pair, an entry and exit strategy capitalizes on pricing disparities. Positions are initiated when no open position exists and the spread between the two equities exceeds a predefined threshold. If the spread indicates that one equity is overvalued relative to the other, the strategy will short the overvalued asset and long the undervalued asset, anticipating a mean reversion towards their historical relationship.</p><br>
            
        <p class="mt-4">Conversely, if the spread indicates that the other equity is overvalued, the positions are adjusted accordingly. The exit strategy is triggered when the spread reverts back and reaches the opposite side of the threshold, allowing us to exit the positions and lock in profits.</p><br>
            
        <p class="mt-4">By dynamically adjusting the positions based on statistical signals and effectively managing risk, the strategy aims to exploit short-term pricing inefficiencies between Equity 1 and Equity 2, while maximizing returns.</p><br>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function tftoperiod() {
            var tf = document.getElementById("timeframe").value;
            var period = document.getElementById("period");
            if (tf == "1h") {
                period.value = "1y";
            } else if (tf == "1d") {
                period.value = "5y";
            } else if (tf == "1wk") {
                period.value = "max";
            }
        }
    </script>
</body>
</html>
